@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2c3e50;
  --secondary-color: #ecf0f1;
  --accent-color: #d4a373;
  --bg: #f5f2ee;
  --font-family: 'Poppins', sans-serif;
}

/* --- Global --- */
html,
body {
  background: var(--bg);
  font-family: var(--font-family);
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}